body {
    font-family: "Poppins", sans-serif;
    color: #EAE8FF;
    background: #1c1c1c;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 180px auto 0 auto;
    width: 80%;
    border-radius: 20px;
    background: #2e2e2e;
    box-shadow: 0 0 10px 4px #151515;
}


h1 {
    font-size: 8em;
    letter-spacing: -2px;
    position: relative;
    font-weight: 700;
}

h1 strong {
    background: linear-gradient(55deg, rgb(139, 249, 145) 45%, rgb(122, 208, 255) 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    font-weight: 500;
    font-size: 20px;
    margin-top: -80px;
    margin-left: 580px;
    margin-right: 600px;
}